<template>
    <div class="container">
        <h1>home.vue</h1>

        <hr>
        <h3>package.json</h3>
        <table class="table table-hover table-bordered table-striped">
            <tbody>
            <tr v-for="(k,v) in data" v-if="v!='dependencies' && v!='devDependencies'">
                <td width="50%">{{ v }}</td>
                <td>{{ k }}</td>
            </tr>
            </tbody>
        </table>

        <hr>
        <h3>devDependencies</h3>
        <table class="table table-hover table-bordered table-striped">
            <tbody>
                <tr v-for="(k,v) in data.devDependencies">
                    <td width="50%">{{ v }}</td>
                    <td>{{ k }}</td>
                </tr>
            </tbody>
        </table>

        <hr>
        <h3>dependencies</h3>
        <table class="table table-hover table-bordered table-striped">
            <tbody>
            <tr v-for="(k,v) in data.dependencies">
                <td width="50%">{{ v }}</td>
                <td>{{ k }}</td>
            </tr>
            </tbody>
        </table>
        <div >
        </div>
    </div>
</template>

<script>
    import {pack} from '../lib/pack.js'
    export default {
        data () {
            return {
                data:""
            }
        },
        mounted(){
            this.data=pack;
        }
    }
</script>